*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Experience ---------------------------------------------------------------------------------*/

.experience{
  position: fixed;
  width: 100%;
  height: 100vh;
}

.experience-canvas{
  width: 100%;
  height: 100%;
}

/*Page ---------------------------------------------------------------------------------*/

.page{
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page-wrapper{
  position: relative;
}

/*Toggle bar ---------------------------------------------------------------------------------*/
.toggle-bar{
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top:48px;
  right: 48px;
  z-index: 9999;
}

.sun-wrapper,
.moon-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
}

.toggle-button{
  cursor: pointer;
  position: relative;
  width: 56px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-pink);
  border-radius: 999px;
  margin: 0px 16px;
  border: none;
  box-shadow: rgba(149,157,165,0.2) 0px 8px 24px;
}

.toggle-circle{
  position: absolute;
  left: 6px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--primary-color);
  transition: all 0.2s ease-in-out;
}

.toggle-button:hover .toggle-circle{
  transform: scale(0.9);
}
/*Section Formatting ---------------------------------------------------------------------------------*/
.section-margin{
  height: 100rem;
  width:100%;
}

.section{
  width: 50%;
  padding: 20rem 4%;
  margin: 0;
  background-color: var(--primary-color);
}

.left{
  margin-right: auto;
}

.right{
  margin-left: auto;
}

.section-intro-wrapper{
  position: relative;
  padding: 20% 5%;
  border-bottom: 2px solid var(--primary-pink);
  padding-bottom: 25rem;
}

.section-detail-wrapper{
  position: relative;
  padding: 20% 5%;
}

.section-heading{
  font-size: 18px;
  font-weight: 700;
  line-height: 1.8;
  margin-top: 4rem;
}

.section-text{
  line-height: 2;
  margin-top: 1.5rem;
  font-size: 16px;
}

/* Section decoration ---------------------------------------------------------------------------------*/

.section-title{
  position: relative;
  color: var(--primary-pink);
}

.section-title-text{
  display: block;
  font-size: 50px;
  font-weight: 500;
  transform-origin: left;
  transform: skewY(20deg);
  z-index: 5;
  text-transform: uppercase;
}

.styleOne,
.styleTwo,
.styleThree{
  position: absolute;
  display: block;
  width: 100%;
  max-width: 20rem;
  height: 5rem;
  border: 1px solid var(--primary-pink);
  transform-origin: left;
  transform: skewY(-20deg);
}

.styleOne{
  top: 0;
}

.styleTwo{
  top:7rem
}

.styleThree{
  top:7rem;
  transform: skewY(20deg);
  background-color: var(--primary-pink);
}

.section-number{
  position: absolute;
  bottom: 15px;
  right: 0;
  color: var(--primary-pink);
  font-size: 24px;
}
/* Hero section ---------------------------------------------------------------------------------*/

.hero{
  width: 100%;
  height: 100vh;
}

.hero-wrapper{
  position: relative;
  height: 100%;
  width: calc(100% - 6rem);
  margin: 0 auto;
  max-width: 65rem;
}

.hero-main{
  position: absolute;
  bottom: 15%;
}

.hero-second{
  position: absolute;
  top: 15%;
  right: 0;
}

.hero-main-title{
  font-size: 4rem;
}

.hero-main-desc{
  font-size: 1.5rem;
}

.hero-second-subheading{
  font-size: 2rem;
  text-transform: uppercase;
}